{% extends 'base.html' %}

{% block title %}Kirk's Newspaper Article Classifier{% endblock %}

{% block content %}
  <div class="jumbotron mt-4">
    <h1>Kirk's Newspaper Article Classifier</h1>
    <p class="lead">This application consumes text snippets from newspaper articles and will classify them as one of several article subjects (i.e., newspaper sections). However, the true purpose of this site is merely to demonstrate how a machine learning model may be built into a Flask app.</p>
    <p><a class="btn btn-primary btn-lg" href="/submit" role="button">Get Started!</a></p>
  </div>
{% endblock %}
